{% extends 'layouts/layout.njk' %}

{% block body %}
<div class="col-12	col-sm-6 col-md-6 col-lg-5	col-xl-5 center">
        <div class="container">
                <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
                  <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none;"></path>
                </svg>
            <div class="card" id="card01">

                <h5 class="card-header info-color white-text text-center py-4" id="card-header">
                    <strong>Login</strong>
                </h5>
                <div class="card-body px-lg-5 pt-0">
                    <form class="text-center" style="color: #757575;">
                        <div class="md-form">
                            <input type="email" name="email" class="form-control">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="password" class="form-control">
                            <label for="password">Password</label>
                        </div>

                        <button class="btn btn-form btn-rounded btn-block waves-effect" id="aciona"><strong>Entrar</strong></button>
                        </br>

                      <span>Ainda não é cadastrado?</span>  <a href="/signup">Cadastre-se</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}